@import url('https://fonts.googleapis.com/css?family=Kalam|Nothing+You+Could+Do|Patrick+Hand|Permanent+Marker&display=swap');

body {
    position: relative;
    width: 95%;
    display: block;
    background-image: url("../images/backgroundcastle.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Patrick Hand', cursive;
    color: black;
    padding-top: 250px;
}

body>* {
    margin: auto;
    width: 95%;
    display: block;
}

body>script {
  display: none
}

header {
    position: fixed;
    background-color: cornflowerblue;
    top: 0%;
    left: auto;
    width: 95%;
    border: black 2px solid;
    text-align: center;
}

#header-label {
  font-size: 275%;
  text-decoration: underline;
  width: 100%;
  padding: 0% 0% 4% 0%;
  /* border-bottom: 2px solid black; */
}

#nav-float-left {
  float: left;
  margin: -3% 10% 0% 10%;
  width: 15%;
  padding: 1% 1% 1% 1%;
  border: black 2px solid;
  border-top-left-radius: 20% 40%;
  border-top-right-radius: 20% 40%;
  border-bottom-left-radius: 20% 40%;
  border-bottom-right-radius: 20% 40%;
}

#nav-float-right {
  float: right;
  margin: -3% 10% 0% 10%;
  width: 15%;
  padding: 1% 1% 1% 1%;
  border: black 2px solid;
  border-top-left-radius: 20% 40%;
  border-top-right-radius: 20% 40%;
  border-bottom-left-radius: 20% 40%;
  border-bottom-right-radius: 20% 40%;
}

a:link {
  background-color: white;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

.openingScroll {
    text-align: center;
    background-image: url("../images/scroll.jpeg");
    background-repeat: no-repeat;
    padding: 1%;
    background-size: 100%;
    /* max-height: 5%; */
    /* margin-top: 250px; */
    /* margin-left: 300px;*/
    font-style: oblique;
    font-size: 40px;
}

.openingScroll p{
    background-color: rgba(214, 189, 159, 0.44);
}

#scoreBoard {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    background: rgba(150, 150, 150, 0.699);
    border: 1px solid black;
    width: 480px;
    height: fit-content;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#phaser-game {
    background-image: url(/images/BG.png);
    border: 2px black solid;
    width: fit-content;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
}

#phaser-game canvas {
  z-index: 1;
  transform: scale(2);
}

#cloud3 {
  z-index: 1;
  position: relative;
  top: 50;
  left: 50;
  width: 90px;
}

#bios {
  top: 200px;
}

.team-bios {
  font-size: 125%;
  display: inline-block;
  width: 45%;
  background-color: blanchedalmond;
  border-radius: 15%;
  padding: 20px 20px 20px 20px;
  top: 250px;
}

#scores th, td {
   margin: 50px;
   padding: 10px;
   color: rgb(10, 87, 10);
   width: 500px;
   text-align: center;
   background-color: lightyellow;
   text-transform: uppercase;
   font-size: 40px;
   font-display: bold;
}
