body {
    position: relative;
    width: 90%;
    display: block;
    background-image: url("../images/backgroundcastle.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: cursive;
    color: black;
    padding-top: 250px;
}

body>* {
    margin: auto;
    width: 95%;
    display: block;
    overflow: auto;
}

body>script {
    display: none
}

header {
    position: fixed;
    top: 0%;
    left: 5%;
    width: 90%;
    border: black 2px solid;
    text-align: center;
    background-color: lightgrey;
}

#header-label {
    font-size: 275%;
    text-decoration: underline;
    width: 100%;
    padding: 0% 0% 3% 0%;
}

#nav-float-left {
    float: left;
    margin: -3% 5% 0% 5%;
    width: 15%;
    padding: 1% 1% 1% 1%;
    border: black 2px solid;
    border-top-left-radius: 20% 40%;
    border-top-right-radius: 20% 40%;
    border-bottom-left-radius: 20% 40%;
    border-bottom-right-radius: 20% 40%;
}

#nav-float-right {
    float: right;
    margin: -3% 10% 0% 10%;
    width: 15%;
    padding: 1% 1% 1% 1%;
    border: black 2px solid;
    border-top-left-radius: 20% 40%;
    border-top-right-radius: 20% 40%;
    border-bottom-left-radius: 20% 40%;
    border-bottom-right-radius: 20% 40%;
}

a:link {
    background-color: white;
}

a:visited {
    background-color: cyan;
}

a:hover {
    background-color: lightgreen;
}

a:active {
    background-color: hotpink;
}

.openingScroll {
    text-align: center;
    background-image: url("../images/scroll.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
    background-size: 60%;
    /* left: 20%; */
    font-style: oblique;
    font-size: 250%;
}

#gameBoard {
    margin-top: 5%;
    /* border: blue 2px solid; */
}

canvas {
    bottom: 0px;
    position: absolute top 0px;
    border: 2px black solid;
    /* height: 45%; */
    width: 50%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#scoreBoard {
    position: absolute;
    margin-top: 5%;
    width: 40%;
    left: 30%;
    display: inline;
    text-align: center;
    border: 2px blue solid;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    background: rgba(150, 150, 150, 0.699);
    border: 1px solid black;
}

#innerWrap {
    position: absolute;
    left: 25%;
    bottom: 10%;
    width: 50%;
    display: flex;
    text-align: center;
}

.column {
    flex: 33.33%;
    padding: 5px;
    bottom: 0px;
}

#swordTarget {
    width: 100px;
    /* z-index: 1; */
}

#spellTarget {
    width: 130px;
    /* z-index: 2; */
}

#shieldTarget {
    width: 130px;
    /* z-index: 3; */
}

#cloud3 {
    z-index: 1;
    position: relative;
    top: 50;
    left: 50;
    width: 90px;
}

#bios {
    top: 200px;
}

.team-bios {
    font-size: 125%;
    display: inline-block;
    width: 45%;
    background-color: blanchedalmond;
    border-radius: 15%;
    padding: 20px 20px 20px 20px;
    top: 250px;
}

#scores th,
td {
    margin: 10px;
    padding: 50px;
    color: rgb(10, 87, 10);
    width: 450px;
    text-align: center;
    background-color: lightyellow;
    text-transform: uppercase;
    font-size: 50px;
    font-display: bold;
}